body {
  background: #1b1c1d !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
}

@font-face {
  font-family: 'Proxima';
  src: local('Proxima'), url(./style/fonts/Proxima-Nova.otf) format('opentype');
}

@font-face {
  font-family: 'ProximaBold';
  src: local('ProximaBold'), url(./style/fonts/Proxima-Nova-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'ProximaSemiBold';
  src: local('ProximaSemiBold'), url(./style/fonts/Proxima-Nova-SemiBold.otf) format('opentype');
}

@font-face {
  font-family: 'ProximaRegular';
  src: local('ProximaRegular'), url(./style/fonts/Proxima-Nova-Reg.ttf) format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
